<script lang="ts" setup>
import { computed, ref } from "vue";

const numStr = ref("0");
const num = computed(() => {
  return parseInt(numStr.value);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-text-field
          v-model="numStr"
          label="Please input Number"
          prepend-inner-icon="mdi-magnify"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          repuired
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>

  <v-row>
    <v-col cols="12">
      <v-container>
        <v-row>
          <v-col cols="1" v-for="i in num" :key="i">{{ i }} </v-col>
        </v-row>
      </v-container>
    </v-col>
  </v-row>
</template>
<script></script>